// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

include "env.kdl"
include "startup.kdl"
include "input.kdl"
include "binds.kdl"
include "win-rules.kdl"
include "ui.kdl"


hotkey-overlay {
    skip-at-startup
}

// Set the disable-primary flag to disable the primary clipboard (middle-click paste).
// Toggling this flag will only apply to applications started afterward.
clipboard {
    disable-primary
}

//  WARN: DO NOT REMOVE IT
// border colors are not being applied when set through ui.kdl
// but  some how it works when i put following pice of code
layout {
    border { }
}
