// Window rules let you adjust behavior for individual windows.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^notifications$"

    // Use this instead if you want them visible on third-party screenshot tools.
    block-out-from "screencast"
}

// block out from screen capture.
window-rule {
    // Criticals
    match title=r#"^Unlock Keyring$"#
    // Apps
    match app-id=r#"^Bitwarden$"#
    match app-id=r#"thunderbird"#
    match app-id=r#"^org\.telegram\.desktop$"#
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^polkit-gnome-authentication-agent-1$"#
    match app-id=r#"^org\.freedesktop\.policykit1$"#

    block-out-from "screen-capture"
}

// Full Screen
window-rule {
    match title="Firefox"
    match app-id="Alacritty"
    match app-id="emac"
    match app-id="org.gnome.Nautilus" // Gnome file manager
    match app-id="stremio"
    // match app-id="kitty"

    open-maximized true
}

// Float
window-rule {
    match app-id="mpv"
    match app-id="blueman-manager"
    match app-id="org.pulseaudio.pavucontrol"
    match app-id="eog" // Gnome Imange viewer
    match app-id="zathura" // PDF reader
    match app-id="okular" // PDF reader
    match app-id="dioxus" // Dioxus apps (GUI framework for rust)
    // Firefox
    match app-id="firefox" title="^Developer Tools*"
    match app-id="firefox" title="^Picture-in-Picture$"
    match app-id="firefox" title="^Sign"
    match app-id="firefox" title="^About"
    match app-id="firefox" title="^Library$"
    // Thunderbird
    match app-id="thunderbird" title="^Enter"

    //

    open-focused true
    open-floating true
    min-width 200
    min-height 100
}

// Min width & height
window-rule {
    match app-id="firefox"
    match app-id="zathura"
    min-width 50
    min-height 50
}

// Work around WezTerm's initial configure bug by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible, since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}


// Qt used by OBS doesn't signal min size yet, so do it manually.
window-rule {
    match app-id=r#"^com\.obsproject\.Studio$"#
    min-width 876
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
    border {
        inactive-color "#7d0d2d"
    }
    shadow {
        color "#7d0d2d70"
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// windows that request the user's attention.
window-rule {
    match is-urgent=true
}

// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

layer-rule {
    match namespace="^wallpaper$"
    // match namespace="^hyprpaper$"

    place-within-backdrop true
}

layer-rule {
    match namespace="^launcher$"

    geometry-corner-radius 12
}


